services:
  # Development Service
  web-dev:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "6006:6006"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - ./frontend/.env
    command: npm run dev -- --host --port 6006

  # Production Preview Service
  web-prod:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
    healthcheck:
      test: [ "CMD", "wget", "-q", "--spider", "http://localhost:3000/" ]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 5s
